<!--
 - Created by bswif on 3/28/2021.
 -->

<!-- Custom Search Demo -->
<template>
    Current Selection: {currentRec}
    <c-custom-search all-records={theRecs} onselectedrec={handleSelect}>

    </c-custom-search>
</template>