<!--
 - Created by bswif on 3/28/2021.
 -->

<!-- Custom Search Input -->
<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_4-of-4">
            <div>
                <!-- Create an Input Field where user can enter text to find the
                Records-->
                <lightning-input variant="label-hidden"
                                 label="Search Record" value={searchKey} type="search"
                                 onchange={handleChange} placeholder="type text here">
                </lightning-input>
            </div>
        </div>
    </div>
</template>