<!--
 - Created by bswif on 3/28/2021.
 -->

<!-- Custom Search List -->
<template>
    <!--<a href="JavaScript:Void(0)" style="text-decoration:none;" onclick={handleSelect}>
        <lightning-layout>
            <lightning-layout-item>
                <lightning-icon icon-name={iconname} size="small"></lightning-icon>

            </lightning-layout-item>
            <lightning-layout-item>
                {record.Name}
            </lightning-layout-item>
        </lightning-layout>
    </a> -->
    <div >
        <div class="slds-grid slds-wrap
                        slds-dropdown_length-with-icon-7
                        slds-dropdown_fluid
                        slds-p-left_small"
        >
            <div class="slds-col slds-size_4-of-4 ">
                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <li role="presentation" class="slds-listbox__item">
                        <div class="slds-media slds-listbox__option
                                                        slds-listbox__option_entity
                                                        slds-listbox__option_has-meta"
                             role="option"
                             onclick={handleSelect}>
                            <span class="slds-media__body"
                                  style="padding-top: 9px;font-weight: 600;">
                                    <span class="slds-listbox__option-text
                                                                 slds-listbox__option-text_entity">
                                        {record.label}
                                    </span>
                                </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>